#contato {
  background-color: var(--c1);
}

.contato-bg {

  background-image: linear-gradient(var(--c11) 40%, var(--c1) 0);
  padding-bottom: 100px;
}

.contato {
  grid-template-columns: 5fr 7fr;
  margin: 0 auto;
  padding: 20px;
}

.contato-dados, .contato-formulario {
  padding: 60px;
  box-shadow: 0 1px 2px rgb(0,0,0,0.1)
}

.contato-dados {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;

}

.contato-dados h2 { 
  margin-bottom: 60px;
  padding-left: 28px;
}

.contato-endereco {
  margin-bottom: 32px;
  background: url("../../img/contato/local.svg") no-repeat 0px 2px;
  padding-left: 28px;
}

.contato-endereco p {
  margin-bottom: 8px;
  cursor: pointer;
  
}

.contato-endereco p:hover, .contato-email a:hover {
  color: var(--c0);
}

.contato-meios {
  display: flex;
  flex-direction: column;
  background: url("../../img/contato/email.svg") no-repeat 0px 2px;
}

.contato-meios a {
  display: block;
  color: inherit;
  margin-bottom: 8px;
  font-style: normal;
  padding-left: 28px;
  max-width: max-content;
}

.contato-meios a:nth-child(2) {
  margin-bottom: 32px;
  
}
.contato-meios a:nth-child(3) {
  margin-bottom: 60px;
  background: url("../../img/contato/telefone.svg") no-repeat 0px 2px;
}

.contato-redes {
  display: flex;
  gap: 32px;
  padding-left: 28px;
}


/* -------------- FORM -------------- */
.contato-formulario {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%)
}

.contato-formulario form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

}

.contato-formulario label {
  padding-bottom: 8px;
  display: block;
  font: 400 1.6rem/1.5 Poppins,sans-serif;
}

.contato-formulario input {
  display: block;
  padding: 12px;
  background-color: var(--c1);
  width: 100%;
  border-radius: 4px;
  border: 1px solid var(--c2);
  font: 400 1.6rem/1.5 Roboto,sans-serif;

}

.contato-formulario input[type="text"]:focus, .form-mensagem textarea:focus {
    outline: 0;
    border-color: var(--p1);
    background: var(--c0);
    box-shadow: 0 0 0 2px #fea;
}

.form-email {
  grid-column: 1/-1;

}
.form-email input {
  width: 100%;
  display: block;
  border: 1px solid var(--c2);

}

.form-mensagem {
  grid-column: 1 / -1;
}

.form-mensagem textarea {
  width: 100%;
  margin-bottom: 16px;
  border: none;
  font: 400 1.6rem/1.5 Roboto,sans-serif;
  background-color: var(--c1);
  border: 1px solid var(--c2);
}

.form-mensagem textarea::placeholder {
  color: black;
}
.form-button {
  grid-column: 1 / -1;
  
}
.form-button a {
  cursor: pointer;
}

@media (max-width: 800px) { 
  .contato {
    grid-template-columns: 1fr;
  }

  .contato-formulario form {
    grid-template-columns: 1fr;

  }

  .contato-formulario button {
    grid-column: 1;
  }

  .contato-dados, .contato-form {
    padding: 20px;
  }

  .contato-dados {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0;
  }
  .contato-formulario {
    border-bottom-left-radius: 4px;
  }

}

@media (max-width: 340px) { 
  .contato-dados, .contato-formulario {
    padding: 10px;
  }
}