* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
button {
  border: none;
}

html { 
  font-size: 62.5%;
}

body { 
  font-size: 1.6rem;
}

img { 
  display: block;
  max-width: 100%;
}

article { 
  display: block;
}