
.botao { 
  display: inline-block;
  padding: 16px 32px;
  border-radius: 4px;
  text-transform: uppercase;
  color: var(--p5);
  background: linear-gradient(#FFBF00, #F2A50C);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  transition: all 600ms;
  max-width: max-content;
  font: 600 1.8rem/1.35 "poppins", sans-serif;
  border: none;
  cursor: pointer;

}

.botao:hover { 

  background: linear-gradient(#FFB60d, #e59317);
  transition: all 300ms;
}

.botao--secundario {
  background: var(--c9);
  color: var(--c2);
}

.botao--secundario:hover {
  background: var(--c11);

}


@media (max-width: 844px) {


  .botao {
    padding: 12px 24px;
    font-size: 1.8rem;
  }
}

@media (max-width: 600px) {


  .botao {
    font-size: 1.8rem;
    padding: 8px 16px;
  }
}
@media (max-width: 370px) {
  .botao--seguro-bicicletas {
    margin: auto;
  }
}