.titulos-bg  {
   padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--c11);
}

.titulos__secundario-interno {
  font-size: 2.4rem;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 1.5;
  font-family: 'roboto',sans-serif;
  text-transform: uppercase;
  color: var(--c5);
}

.titulos__secundario-interno--precos { 
  font-size: 3.2rem;
}

.titulos__primario-interno {
   
  font-size: 6.4rem;
  line-height: 1.125;
  font-weight: 600;
  font-family: 'poppins', arial, sans-serif;
  color: var(--c0);
}

.titulos__primario-interno-white {
  color: var(--c11);
  margin-bottom: 60px;
}

@media (max-width: 800px) {

  .titulos-bg-bicicletas { 
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .titulos__secundario-interno {
    font-size: 1.8rem;
  }
  .titulos__primario-interno {
    font-size: 5rem;
  }
}

@media (max-width: 600px) { 
  .titulos__primario-interno {
    font-size: 3.2rem;
  }

}

@media (max-width: 370px) {
  .titulos__secundario-interno  {
    text-align: center;
    margin-bottom: 16px;
    font-size: 1.2rem;
  }
  .titulos__primario-interno {
    font-size: 2.4rem;
    text-align: center;
  }
}